.container{
    background-image: url("/images/prediction/prediction-bg.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    

    @apply min-h-screen flex items-center justify-center w-full;
}