@import "tailwindcss";

@theme {
  /* Breakpoints */
  --breakpoint-sm: 480px;

  /* colors */
  --color-primary: #E400FB;

  /* gradient */
  --background-image-gradient-primary: linear-gradient(to bottom, #E400FB, #5200FD);
  --background-image-gradient-primary-r: linear-gradient(to right, #E400FB, #5200FD);
}


h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-2xl font-semibold;
}

h4 {
  @apply text-xl font-semibold;
}

h5 {
  @apply text-lg font-semibold;
}

h6 {
  @apply text-base font-semibold;
}

.flex-center {
  @apply flex items-center justify-center;
}

/* Custom Scrollbar */
/* Width of scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* border-radius: 10px; */
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gradient-primary;
  border-radius: 10px;
}

.swiper-pagination {
  bottom: 0px !important;
}

.swiper-pagination-lock {
  display: block !important;
}

.swiper-pagination-bullets-dynamic {
  width: 120px !important;
  margin-inline: auto !important;
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-size: 15px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
}

.text-gradient-primary {
  @apply bg-clip-text text-transparent bg-gradient-to-b from-[#E400FB] to-[#5200FD];
}

.text-shadow-white {
  text-shadow: 2px 2px 5px #CECECE;
}

.hero-shadow-bold {
  text-shadow: rgb(233 1 251 / 46%) -4.136px 0px 0px, rgb(0 0 0 / 85%) 0px 3.136px 0px;
}

.hero-shadow-light {
  text-shadow: rgb(233 1 251 / 46%) -2.136px 0px 0px, rgb(0 0 0 / 85%) 0px 2.136px 0px;
}
