@import "tailwindcss";

@theme {
  /* Breakpoints */
  --breakpoint-sm: 480px;

  /* colors */
  --color-primary: #E400FB;
  --color-primary2: #ad00fc;
  --color-statusError:#c80019;
  --color-statusWarning:#d67200;
  --color-statusSuccess:#4b9b43;

  /* gradient */
  --background-image-gradient-primary: linear-gradient(to bottom, #E400FB, #5200FD);
  --background-image-gradient-primary-r: linear-gradient(to right, #E400FB, #5200FD);
  --background-image-gradient-gold: linear-gradient(111deg, #E0AB5D 17.76%, #FEFBB9 47.78%, #D79E51 78.98%);
  --background-image-gradient-silver: var(--SDGTV,linear-gradient(229deg, #848484 15.98%, #ddd 47.95%, #848484 104.22%));
}

.box{
  color: #d67200;
}

h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-2xl font-semibold;
}

h4 {
  @apply text-xl font-semibold;
}

h5 {
  @apply text-lg font-semibold;
}

h6 {
  @apply text-base font-semibold;
}

.flex-center {
  @apply flex items-center justify-center;
}

.btn {
  @apply px-2 sm:px-6 py-2 hover:cursor-pointer flex justify-center rounded-md font-semibold capitalize disabled:cursor-default transition-colors duration-150;
}

/* Custom Scrollbar */
/* Width of scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* border-radius: 10px; */
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gradient-primary;
  border-radius: 10px;
}

.swiper-pagination {
  bottom: 0px !important;
}

.swiper-pagination-lock {
  display: block !important;
}

.swiper-pagination-bullets-dynamic {
  width: 120px !important;
  margin-inline: auto !important;
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-size: 15px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
}

.text-gradient-primary {
  @apply bg-clip-text text-transparent bg-gradient-to-b from-[#E400FB] to-[#5200FD];
}

.text-gradient-gold {
  background: linear-gradient(111deg, #E0AB5D 17.76%, #FEFBB9 47.78%, #D79E51 78.98%);
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 0px 0px 2.284px #000;

  -webkit-text-fill-color: transparent;
  color: transparent;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.10);
}

.text-gradient-silver {
  background: var(--SDGTV,linear-gradient(229deg, #848484 15.98%, #ddd 47.95%, #848484 104.22%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 900;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.10);
}

.text-shadow-white {
  text-shadow: 2px 2px 5px #CECECE;
}

.hero-shadow-bold {
  text-shadow: rgb(233 1 251 / 46%) -4.136px 0px 0px, rgb(0 0 0 / 85%) 0px 3.136px 0px;
}

.hero-shadow-light {
  text-shadow: rgb(233 1 251 / 46%) -2.136px 0px 0px, rgb(0 0 0 / 85%) 0px 2.136px 0px;
}

.border-gradient-primary {
  position: relative;
  border: none !important;
}

.border-gradient-primary::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;
  background: var(--background-image-gradient-primary);

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}