@import "tailwindcss";

@theme {
  /* Breakpoints */
  --breakpoint-sm: 480px;

  /* colors */
  --color-primary: #E400FB;

  /* gradient */
  --background-image-gradient-primary: linear-gradient(to bottom, #E400FB, #5200FD);
  --background-image-gradient-primary-r: linear-gradient(to right, #E400FB, #5200FD);
}


h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-2xl font-semibold;
}

h4 {
  @apply text-xl font-semibold;
}

h5 {
  @apply text-lg font-semibold;
}

h6 {
  @apply text-base font-semibold;
}


/* Custom Scrollbar */
/* Width of scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* border-radius: 10px; */
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gradient-primary;
  border-radius: 10px;
}



.text-gradient-primary {
  @apply bg-clip-text text-transparent bg-gradient-to-b from-[#E400FB] to-[#5200FD];
}