.container{
    background-image: url("/images/gameplay/trivia-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

    @apply min-h-screen flex items-center justify-center;
}